.DS_Store
RemoteSystemsTempFiles
.vscode
libraries/github/githash.h
/.metadata/
tools/build_tools/builds
components/amb/.settings/language.settings.xml
components/ecu/ecu_firmware/build
components/ecu/ecu_firmware/Drivers
components/ecu/ecu_firmware/.vscode