.DS_Store
RemoteSystemsTempFiles
.vscode/
/.metadata/
components/amb/.settings/language.settings.xml
components/ecu/ecu_firmware/build
components/ecu/ecu_firmware/Drivers
components/ecu/ecu_firmware/.vscode